*{
   padding: 0;
   margin: 0;
   font-family: system-ui;
}
body{
   width: 100%;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background: darkslateblue;
}
.container{
   width: 80%;
   background: #C8C6C9AB;
   padding: 10px;
   padding-bottom: 3px;
   border-radius: 7px;
   border: 1px solid #73737359;
   box-shadow: 0 0 10px #6B6B6BAB,
   0 0 20px #272727AB,
   0 0 30px #050505AB;
   display: flex;
   flex-direction: column;
   align-items: center;
}
header{
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 8px;
}
header h3{
   color: #750BFC;
}
header .inputs{
   width: 100%;
   display: flex;
   gap: 6px;
}

header .inputs input, button{
   width: 70%;
   padding: 10px;
   border-radius: 3px;
   border: none;
   background: #FFFFFFBF;
   outline: none;
}
header input:focus{
   box-shadow: 0 0 5px #90C2FE91,
   0 0 10px #EEF7FF8C,
   0 0 15px #FBFDFF00;
   border: 1px solid #A088F8F0;
}
button{
   width: 20%;
   color: #750BFC;
   padding: 9px;
   background: transparent;
   transition: .3s;
   border: 1px solid #750BFC;
}
button:active,#delet-all:active{
   background: #750BFC;
   outline: none;
   letter-spacing: 2px;
   color: #fff;
   box-shadow: 0 0 6px #B7B7B7B8,
   0 0 10px #7F7F7F99,
   0 0 15px #9898983D;

}
small{
   display: none;
   color: #FF000075;
   width: 100%;
   padding-top: 3px;
   padding-left: 15px;
   text-transform: capitalize;
   font-size: 10px;
}
#delet-all{
   width: 100%;
   display: none;
   color: #fff;
   margin-top: 10px;
   border-color: #FF0000;
   background: #FF0000;
   border-radius: 9999px;
}
#delet-all:active{
   color: #FF0000;
   background: none;
}

footer{
   width: 100%;
   margin-top: 10px;
   background: none;
   display: flex;
   flex-direction: column;
   gap: 5px;
   border-radius: 4px;
}
footer p{
   
   background: #750BFC;
   margin-bottom: px;
   color: #fff;
   border-radius: 3px;
   padding: 10px;
}